body {
    background-color: rgb(186, 198, 199);
  }
  h1 {
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(17, 17, 88);
    text-align:center
  }
  h2 {
    font-style: oblique;
  color: rgb(212, 28, 28);
  text-align:center
}
  p {
    font-style: normal;
    color: rgb(27, 9, 9);
    text-align: center;
  }

  table, th, td {
    border: 1px solid;
    text-align: center;
    align-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:crimson;
    font-size:x-large;

}
ul {
  list-style-type: none;
}

li {
  background-color: #a19a90;
  border: #110c05 0px solid;
  float: center;
  text-align: center
  ;

}
